<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ascend.demo.mgr.auth.dao.UserRoleDao" >
	<select id="getByUserAccont" parameterType="String" resultType="com.ascend.demo.common.domain.UserRoleDO">
		select * from demo_user_role where user_account=#{userAccount}
	</select>
	
	<select id="findByWhere" parameterType="com.ascend.demo.mgr.auth.condition.UserRoleCondition" 
		resultType="com.ascend.demo.common.domain.UserRoleDO">
		
		select au.* from demo_user_role au left join demo_role ro on au.role_id=ro.id 
		<where> <!-- 使用where 标签，会根据子元素是否返回语句动态添加where关键字 ，条件语句中可以使用choose, when, otherwise 作为开关语句-->
			<if test="userAccount != null"> and instr(user_account,#{userAccount})>0</if>
			<if test="role != null"> and instr(ro.role_code,#{role})>0</if>
		</where>
	</select>
</mapper>