<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ascend.demo.auth.dao.SystemUserDao" >
	<insert id="saveOne" parameterType="com.ascend.demo.auth.domain.SystemUserDO" useGeneratedKeys="true" keyProperty="id">
		insert into le_system_user(
			`user_account`,
			`user_name`,
			`age`,
			`sex`,
			`email`,
			`create_time`,
			`create_code`,
			`modify_time`,
			`modify_code`,
		)values(
			#{userAccount},
			#{userName},
			#{age},
			#{sex},
			#{email},
			#{createTime},
			#{createCode},
			#{modifyTime},
			#{modifyCode},
		)
	</insert>
	<insert id="saveList" parameterType="List" useGeneratedKeys="true" keyProperty="id">
		insert into le_system_user(
			`user_account`,
			`user_name`,
			`age`,
			`sex`,
			`email`,
			`create_time`,
			`create_code`,
			`modify_time`,
			`modify_code`,
		)values
		<foreach collection="list" item="item" index="index" separator=",">
			(#{item.userAccount},
			#{item.userName},
			#{item.age},
			#{item.sex},
			#{item.email},
			#{item.createTime},
			#{item.createCode},
			#{item.modifyTime},
			#{item.modifyCode},
			)
		</foreach>
	</insert>
	<update id="update" parameterType="com.ascend.demo.auth.domain.SystemUserDO">
		update le_system_user set
			user_account=#{userAccount},
			user_name=#{userName},
			age=#{age},
			sex=#{sex},
			email=#{email},
			modify_time=#{modifyTime},
			modify_code=#{modifyCode}
		where id=#{id};
	</update>


<!--批量逐条更新 	一直报错 ,未找到原因和解决方法
	<update id="updateList" parameterType="List">
		<foreach collection="list" item="item" index="index" open="" close="" separator=";">
			update le_system_user
				<set>
				user_account=#{item.userAccount},
				user_name=#{item.userName},
				age=#{item.age},
				sex=#{item.sex},
				email=#{item.email},
				modify_time=#{item.modifyTime},
				modify_code=#{item.modifyCode}
				</set>
			where id=#{item.id}
		</foreach>
	</update> -->
	
	<!--  批量多条数据一起更新 -->
	<update id="updateList" parameterType="List">
			update le_system_user
				<trim prefix="set" suffixOverrides=",">
					<trim prefix="user_account=case" suffix="end,">
						<foreach collection="list" item="i" index="index">
							<if test="i.id!=null">
						        when id=#{i.id} then #{i.userAccount}
							</if> 
						</foreach>
					</trim>
					<trim prefix="user_name=case" suffix="end,">
						<foreach collection="list" item="i" index="index" >
							<if test="i.id!=null">
							   when id=#{i.id} then #{i.userName}
							</if>
						</foreach>
					</trim>
					<trim prefix="age=case" suffix="end,">
						<foreach collection="list" item="i" index="index" >
							<if test="i.id!=null">
							   when id=#{i.id} then #{i.age}
							</if>
						</foreach>
					</trim>
					<trim prefix="sex=case" suffix="end,">
						<foreach collection="list" item="i" index="index" >
							<if test="i.id!=null">
							     when id=#{i.id} then #{i.sex} 
							</if>
						</foreach>
					</trim>
					<trim prefix="email=case" suffix="end,">
						<foreach collection="list" item="i" index="index" >
							<if test="i.id!=null">
							    when id=#{i.id} then #{i.email} 
							</if>
						</foreach>
					</trim>
					<trim prefix="modify_time=case" suffix="end,">
						<foreach collection="list" item="i" index="index" >
							<if test="i.id!=null">
							    when id=#{i.id} then #{i.modifyTime} 
							</if>
						</foreach>
					</trim>
					<trim prefix="modify_code=case" suffix="end,">
						<foreach collection="list" item="i" index="index">
							<if test="i.id!=null">
							   when id=#{i.id} then #{i.modifyCode} 
							</if>
						</foreach>
					</trim>
				</trim>
				where 
				<foreach collection="list" separator="or" item="i" index="index">
				     id=#{i.id} 
				</foreach>
	</update>
	
	<select id="getById" parameterType="String" resultType="com.ascend.demo.auth.domain.SystemUserDO">
		select * from le_system_user where id=#{value}
	</select>
	<select id="findAll" resultType="com.ascend.demo.auth.domain.SystemUserDO">
		select * from le_system_user;
	</select>
	
	<select id="findByWhere" parameterType="com.ascend.demo.auth.domain.SystemUserDTO" resultType="com.ascend.demo.auth.domain.SystemUserDO">
		select 
			`user_account`,
			`user_name`,
			`age`,
			`sex`,
			`email`,
			`create_time`,
			`create_code`,
			`modify_time`,
			`modify_code` ,
		from le_system_user where 1=1
		<if test="userAccount!=null and userAccount!=''">and (instr(user_account,#{userAccount})>0 or instr(user_name,#{userAccount})>0) </if>
		<if test="age!=null and age!=''">and age=#{age} </if>
		<if test="createCode!=null and createCode!=''">and instr(create_code,#{createCode})>0</if>
		<if test="modifyCode!=null and modifyCode!=''">and instr(modify_code,#{modifyCode})>0</if>
		<if test="modifyTime!=null and modifyTime!=''">and modify_time=#{modifyTime}</if>
		
	</select>
	
	<delete id="deleteById" parameterType="Long" >
		delete from le_system_user where id=#{id}
	</delete>
	<delete id="deleteByIds" parameterType="List">
		delete from le_system_user where 
		<foreach collection="list" item="item" index="index" separator="or">
			id=#{item}
		</foreach>
	</delete>
	
	<!-- 一对一第一种写法 -->
	<!-- <resultMap type="com.ascend.demo.auth.domain.SystemUserDO" id="oneResultMap">
		<id column="id" property="id"/>
		<result column="user_account" property="userAccount"/>
		<result column="user_name" property="userName"/>
		<result column="age" property="age"/>
		<result column="sex" property="sex"/>
		<result column="email" property="email"/>
		<result column="create_time" property="createTime"/>
		<result column="create_code" property="createCode"/>
		<result column="modify_time" property="modifyTime"/>
		<result column="modify_code" property="modifyCode"/>
		
		<result column="code" property="one.code"/>
		<result column="oid" property="one.id"/>
		<result column="id" property="one.userId"/>
		
	</resultMap>
	<select id="oneToOneselect"  resultMap="oneResultMap" >
		select le.*,one.id oid,one.code code from le_system_user le left join le_one_one one on le.id=one.user_id where le.id=#{leId};
	</select> -->
	
	<!-- 一对一第二种写法 -->
	<!-- <resultMap type="com.ascend.demo.auth.domain.SystemUserDO" id="oneResultMap">
		<id column="id" property="id"/>
		<result column="user_account" property="userAccount"/>
		<result column="user_name" property="userName"/>
		<result column="age" property="age"/>
		<result column="sex" property="sex"/>
		<result column="email" property="email"/>
		<result column="create_time" property="createTime"/>
		<result column="create_code" property="createCode"/>
		<result column="modify_time" property="modifyTime"/>
		<result column="modify_code" property="modifyCode"/>
		
		<association property="one" javaType="com.ascend.demo.auth.domain.OneToOneDO">
			<result column="code" property="code"/>
			<result column="oid" property="id"/>
			<result column="id" property="userId"/>
		</association>
		
	</resultMap>
	<select id="oneToOneselect"  resultMap="oneResultMap" >
		select le.*,one.id oid,one.code code from le_system_user le left join le_one_one one on le.id=one.user_id where le.id=#{leId};
	</select> -->
	
	<!-- 一对一 第三种写法，可以实现懒加载 -->
	<resultMap type="com.ascend.demo.auth.domain.OneToOneDO" id="OneToOneResultMap">
		<result column="code" property="code"/>
		<result column="id" property="id"/>
		<result column="user_id" property="userId"/>
	</resultMap>
	
	<select id="select_one_by_userId" resultMap="OneToOneResultMap" parameterType="String">
		select id,code,user_id from le_one_one where user_id=#{userId}
	</select>
	
	<resultMap type="com.ascend.demo.auth.domain.SystemUserDO" id="oneResultMap">
		<id column="id" property="id"/>
		<result column="user_account" property="userAccount"/>
		<result column="user_name" property="userName"/>
		<result column="age" property="age"/>
		<result column="sex" property="sex"/>
		<result column="email" property="email"/>
		<result column="create_time" property="createTime"/>
		<result column="create_code" property="createCode"/>
		<result column="modify_time" property="modifyTime"/>
		<result column="modify_code" property="modifyCode"/>
		
		<association property="one" column="id" select="select_one_by_userId"/>
		
	</resultMap>
	<select id="oneToOneselect"  resultMap="oneResultMap" >
		select * from le_system_user where id=#{leId};
	</select>
	
	
	
</mapper>